<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1>New message form</h1>
  </body>
</html>