<html>
  <head>
    <title>Message</title>
  </head>
  <body>
    <header>
      <%- include('navbar', {links: links}) %>
    </header>
    <h2><%- message.user %></h2>
    <p><%- message.text %></p>
    <p><%- message.added %></p>
  </body>
</html>